/* line 9, sass/reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 19, sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 23, sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 26, sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 28, sass/reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 30, sass/reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 32, sass/reset.scss */
del {
  text-decoration: line-through;
}

/* line 34, sass/reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 36, sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 38, sass/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 40, sass/reset.scss */
input, select {
  vertical-align: middle;
}

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
/* line 47, sass/reset.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* Hack retained to preserve specificity */
/* line 48, sass/reset.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
/* line 52, sass/reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/**
 * Minimal base styles.
 */
/* Always force a scrollbar in non-IE */
/* line 60, sass/reset.scss */
html {
  overflow-y: scroll;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 63, sass/reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 65, sass/reset.scss */
ul, ol {
  margin-left: 2em;
}

/* line 66, sass/reset.scss */
ol {
  list-style-type: decimal;
}

/* Remove margins for navigation lists */
/* line 69, sass/reset.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 71, sass/reset.scss */
small {
  font-size: 85%;
}

/* line 72, sass/reset.scss */
strong, th {
  font-weight: bold;
}

/* line 74, sass/reset.scss */
td {
  vertical-align: top;
}

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
/* line 77, sass/reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 78, sass/reset.scss */
sup {
  top: -0.5em;
}

/* line 79, sass/reset.scss */
sub {
  bottom: -0.25em;
}

/* line 81, sass/reset.scss */
pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 87, sass/reset.scss */
textarea {
  overflow: auto;
}

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
/* line 89, sass/reset.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
/* line 92, sass/reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 93, sass/reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 94, sass/reset.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 95, sass/reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
/* line 98, sass/reset.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 101, sass/reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* Colors for form validity */
/* line 105, sass/reset.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 108, sass/reset.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* j.mp/webkit-tap-highlight-color */
/* line 118, sass/reset.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
/* line 122, sass/reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 126, sass/reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
