- title("GPA Calculator | Home")
#intro
  %p
    Welcome to GPA Calculator!  To get started, login or sign up an account below.
- if !user_signed_in?
  %hr
  #login= render :partial => "devise/shared/login"
  #registration= render :partial => "devise/shared/registration"
  .clear
