- title("GPA Calculator | Home")
%h1 GPA Calculator
%p
  Welcome to GPA Calculator!  To get started, login or sign up for an account below.
- if !user_signed_in?
  %hr
  .row
    #login.span6= render partial: "devise/shared/login"
    #registration.span6= render partial: "devise/shared/registration"
