- title "GPA Calculator | About"
%h1 About
%p
  GPA Calculator makes it easy to calculate your GPA and Honor Roll Status.  After creating an account, you can enter in the information for all of your school courses.  You will then be able to see your Lewis Mills GPA, your Standardized GPA, and your Honor Roll Status.  That way, you will always be up-to-date with all of your school related statistics, allowing you to make sure that you get the best GPA possible.
%p
  This website was created with the intent of making it easy to calculate your GPA and Honor Roll Status.  While many websites provide the ability to calculate your GPA based on a standardized 4.0 scale, this website is the only one that can calculate your GPA using the weighted class rank system used at Lewis S. Mills High School.  In addition, it was designed with security and privacy in mind, so you can always know that nobody besides yourself can see your grades.
